.loginBtn{
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: none;
}

.loginBtn:hover{
    color: black;
}

.signin{
    color: black;
    background-color: rgb(96, 117, 165);
}
.header{
    text-align: center;
    background-color: rgb(96, 117, 165);
}

.myForm{
    text-align: center;
}