.Dp{
    width: 130px;
    height: 130px;
    border-radius: 70px;
    transition: 0.5s;
    filter: grayscale(100%);
    cursor: pointer;
}

.Dp:hover{
    border-radius: 0px;
    filter: grayscale(0%);
    transition: 0.5s;
}

.DpDiv{
    background-color: white;
    border-radius: 10px;
    width: 88px;
    height: 36px;
    position: relative;
    top: -40px;
    opacity: 0.7;
    display: none;
}

.Dp:hover + .DpDiv {
    transition: 0.5s;
    display: block; 
}

.DpDiv:hover{
    display: block;
}