.signup{
    color: black;
    background-color: rgb(148, 112, 118);
    padding-top: 150px;
    /* align-content: center;
    align-items: center; */
    text-align: center;
}

.header{
    background-color: rgb(148, 112, 118);
    text-align: center;
}

.myForm{
    text-align: center;
}

