.signup{
    color: goldenrod;
    background-color: rgb(50,50,50);
    padding-top: 50px;
}

.header{
    background-color: rgb(50,50,50);
    text-align: center;
}

.myForm{
    text-align: center;
}

