.signup{
    color: goldenrod;
    background-color: rgb(50,50,50);
    padding-top: 150px;
    /* align-content: center;
    align-items: center; */
    text-align: center;
}

.header{
    background-color: rgb(50,50,50);
    text-align: center;
}

.myForm{
    text-align: center;
}

