.Header{
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}

.ChatDiv{
    background-color: gray;
    height: "1000px";
}

.DisplayTexts{
    background-color: white;
    width: 300px; 
    height: 400px; 
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.DisplayTexts:hover{
    overflow-y: scroll;
}

.Username{
    width: 300px; 
    border: 1px solid black;
    /* back */
}

.SendText{
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darkgray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }

  .Chats{
      position: fixed;
      bottom: 0px;
      right: 0px;
      overflow-x: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
  }

  .Chats:hover{
    overflow-x: scroll;
  }
